<div class="log">
    <h1>login here</h1>
    
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum alias tempora facere quo quos, fugiat distinctio dolor nostrum cumque quas accusamus eum ad minima ratione temporibus fuga adipisci assumenda maxime, tenetur odio, vero minus nam laboriosam! Accusamus dolorum qui sapiente dolores saepe possimus, explicabo architecto pariatur, sit consectetur iste autem.</h3>
    <div class="ka">
        <a routerLink="more">more prod</a>
    </div>
</div>

<router-outlet></router-outlet>